@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');

:root {
    --dark-blue: #363F5F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F0F2F5;
}

.sr-only {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    position: absolute;
    border-width: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
}

.container {
    width: min(90vw, 800px);
    margin: 0 auto;
}

a {
    color: #49AA26;
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    color: #3DD705;
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

h2 {
    font-weight: normal;
    color: var(--dark-blue);
    margin-top: 3.2rem;
    margin-bottom: .8rem;
}

header {
    text-align: center;
    padding: 2rem 0 10rem;
    background-color: #2D4A22;
}

#logo {
    color: white;
    font-weight: 100;
}

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: white;
    margin-top: 0;
}

.card {
    color: var(--dark-blue);
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .25rem;
    background-color: white;
}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: normal;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    color: white;
    background: #49AA26;
}

#data-table {
    width: 100%;
    color: #969CB3;
    border-spacing: 0 .5rem;
}

#data-table th {
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
    background-color: white;
}

#data-table td  {
    padding: 1rem 2rem;
    background-color: white;
}

#data-table tbody tr {
    opacity: .6;
    transition: all .2s;
}

#data-table tr:hover {
    opacity: 1;
}

#data-table thead th:first-child, 
#data-table tbody td:first-child {
    border-radius: .25rem 0 0 .25rem;
}

#data-table thead th:last-child, 
#data-table tbody td:last-child {
    border-radius: 0 .25rem .25rem 0;
}

.description {
    color: var(--dark-blue);
}

.expense {
    color: #E92929
}

.income {
    color: #12A454;
}

footer {
    opacity: .6;
    color: var(--dark-blue);
    padding: 4rem 0 2rem;
    text-align: center;
}

/* Responsive */
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
